<div class="lang-selector" id="locale" style="display:none!important">
    {{- if .IsPage }}
        {{- if .IsTranslated -}}
            <a href="#">{{- .Lang | title -}} <em class="langcaret"></em></a>
            <ul>
                {{- range .Translations -}}
                    <li><a href="{{- .Permalink -}}" data-title="{{- .Lang | title -}}" class="langmenu"><em class="flag {{.Language.Params.flag }}"> </em> {{.Language.LanguageName}} <span></span></a></li>
                {{- end -}}
            </ul>
        {{- end -}}
    {{- else }}
        <a href="#">{{- .Lang | title -}} <em class="langcaret"></em></a>
        {{- $lang:= .Lang}}
        {{- with $.Site.Home.AllTranslations }}
        <ul>
            {{- range . -}}
                {{- if ne $lang .Lang }}  
                    <li><a href="{{- .Permalink -}}" data-title="{{- .Lang | title -}}" class="langmenu"><em class="flag {{.Language.Params.flag }}"> </em> {{.Language.LanguageName}} <span></span></a></li>
                {{- end}}
            {{- end -}}
        </ul>
        {{- end }}
    {{- end }}
</div>

<script>(function(i, s, o, g, r, a, m) {i['ContainerizeMenuObject'] = r; i[r] = i[r] || function() {(i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date(); a = s.createElement(o),m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.append(a)})(window, document, 'script', 'https://menu-new.containerize.com/scripts/engine.min.js?v=1.0.1', 'aspose-en');</script>

<link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/App_Themes/optimize/structure2.css">
<link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/css/flagsprite.css">

<script defer>
    const observer = new MutationObserver((mutations, obs) => {
        const parent = document.getElementById('DynabicMenuUserControls');
        if (parent) {
            const child = document.getElementById('locale');
            parent.prepend(child);
            child.setAttribute("id", "localswitch");
            child.setAttribute('style', 'visibility:visible'); 
            obs.disconnect();
            return;
        }
    });

    observer.observe(document, {
        childList: true,
        subtree: true
    });

    function SwitchLanguage(lng)
    {
      var currentPath= location.href.substr(0, location.href.length - 2);

      if(currentPath.indexOf('blog.aspose.com')>1 )
      {
        if(lng=='en') {
          window.location.href = window.location.protocol.concat( "//",location.hostname, window.location.pathname.slice(3))
        } else {
          window.location.href = window.location.protocol.concat( "//",location.hostname,"/", lng, window.location.pathname.slice(3))
        }
      }
    }
</script>